# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/inspectionProfiles/
.idea/kx_detection.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
multi_detection/data/
multi_detection/docs/
multi_detection/checkpoint/
multi_detection/model/
*.jpg
*.txt